<section id="services" class="section parallax1">
	<section class="callout" id="full-height-section">
			<h2 class="title">Thank you, <%= @applicant.name.split(" ")[0] %>!</h2>
			<h4 class="subtitle">Your application has been submitted. Someone from our team will get back to you shortly.</h4>
	</section>
</section>