<section id="services" class="section parallax1">
	<section class="callout" id="full-height-section">
			<h2 class="title">Thank you, <%= @applicant.name.split(" ")[0] %>!</h2>
			<h4 class="subtitle">We have received your resume and contact information. If your experience matches the qualifications we seek for this position, we will contact you  within the next couple of days.<br><br>Thank you again for your interest in Wells Blair!</h4>
	</section>
</section>