<section id="process" class="process section parallax2">

	<section class="callout">
		<h2 class="title">Specialized Tax Recruitment Solutions</h2>
	</section>

	<section class="text-container">
		<div class="container">
			<div class="sixteen columns">
				<div class="row top-row">
					<div class="two columns">&nbsp;</div>
					<div class="twelve columns offset-two alpha text-section">
						<p>With over 50 years of recruiting experience, the Wells Blair team can provide your tax department with the ideal end-to-end recruiting solution that will meet the challenges of your project, whether you are hiring one new position or building a new tax group.</p>
					</div>
				</div>
			</div>
		</div><!-- end container -->
	</section>
</section><!-- end process -->


<!-- ///////////// Process Section ///////////// -->

<section id="strategy" class="process section parallax2">
	<div class="container">

		<h2 class="title">Our Placement Strategy</span></h2>
		<h4 class="subtitle">We ask questions / you ask questions</h4>

		<!-- Process Column -->
		<div class="four columns process-col">
			<div class="icon-box"><i class="fa fa-search fa-3x"></i></div>
			<h5>Plan & Research</h5>
			<p>This is the most important part of the search process. We develop an effective plan for each client and do our research to set the stage for a successful project.</p>
		</div><!-- end process column -->

		<!-- Process Column -->
		<div class="four columns process-col">
			<div class="icon-box"><i class="fa fa-group fa-3x"></i></div>
			<h5>Source & Present</h5>
			<p>Our expansive network allows us the ability to efficiently source and present qualified professionals at all levels within Tax.</p>
		</div><!-- end process column -->

		<!-- Process Column -->
		<div class="four columns process-col">
			<div class="icon-box"><i class="fa fa-calendar fa-3x"></i></div>
			<h5>Schedule & Organize</h5>
			<p>The process must be respected. We offer flexibility while at the same time delivering projects on-time and within budget.</p>
		</div><!-- end process column -->

		<!-- Process Column -->
		<div class="four columns process-col">
			<div class="icon-box"><i class="fa fa-check-square-o fa-3x"></i></div>
			<h5>Negotiation & Delivery</h5>
			<p>We implement proven strategies and expertise to help companies negotiate competitive compensation packages, which deliver top-performing human capital.</p>
		</div><!-- end process column -->

	</div><!-- end container -->
</section><!-- end process -->