<section id="services" class="section parallax1">
	<section class="callout">
		<div class="container">
			<h2 class="title">Our Difference Is Specialization</h2>
			<h4 class="subtitle">Due to our highly specialized recruiting focus, we can provide<br>the ideal recruiting solution to both our client and candidate networks</h4>
		</div>
	</section>

	<section class="text-container">
		<div class="container">
			<div class="sixteen columns">
				<div class="row top-row">
					<div class="two columns">&nbsp;</div>
					<div class="twelve columns offset-two alpha text-section">
						<p>The Wells Blair approach is focused on specialized tax recruiting. We work all day everyday building relationships with high-performing tax professionals and large corporate tax departments. The end result is an unmatched network of passive tax professionals who seek the right opportunity for their career – AND – an exclusive roster of clients who seek qualified tax professionals that will provide value-added experience to their teams.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
		
	<div class="container">
		<div class="sixteen columns omega">
			<div class="row top-row">
				<!-- Begin Service -->
				<div class="four columns alpha service-item">
					<i class="fa fa-bank fa-4x"></i>
					<h5>Federal Tax</h5>
					<div class="divider"></div>
				</div><!-- end service -->
				
				<!-- Begin Service -->
				<div class="four columns omega service-item">
					<i class="fa fa-globe fa-4x"></i>
					<h5>International Tax</h5>
					<div class="divider"></div>
				</div><!-- end service -->

				<!-- Begin Service -->
				<div class="four columns alpha service-item">
					<i class="fa fa-wrench fa-4x"></i>
					<h5>M&A / Restructuring</h5>
					<div class="divider"></div>
				</div><!-- end service -->
				
				<!-- Begin Service -->
				<div class="four columns omega service-item">
					<i class="fa fa-money fa-4x"></i>
					<h5>High Net Worth</h5>
					<div class="divider"></div>
				</div><!-- end service -->
			</div>
			<div class="row">
				<!-- Begin Service -->
				<div class="four columns alpha service-item">
					<i class="fa fa-location-arrow fa-4x"></i>
					<h5>State & Local Tax</h5>
					<div class="divider"></div>
				</div><!-- end service -->

				<!-- Begin Service -->
				<div class="four columns omega service-item">
					<i class="fa fa-pencil-square-o fa-4x"></i>
					<h5>Planning & Research</h5>
					<div class="divider"></div>
				</div><!-- end service -->

				<!-- Begin Service -->
				<div class="four columns alpha service-item">
					<i class="fa fa-yen fa-4x"></i>
					<h5>Foreign Tax Credit</h5>
					<div class="divider"></div>
				</div><!-- end service -->
				
				<!-- Begin Service -->
				<div class="four columns omega service-item">
					<i class="fa fa-long-arrow-right fa-4x"></i>
					<h5>Transaction Tax</h5>
					<div class="divider"></div>
				</div><!-- end service -->

			</div><!-- end row -->
			<div class="row">
				<!-- Begin Service -->
				<div class="four columns alpha service-item">
					<i class="fa fa-book fa-4x"></i>
					<h5>FASB ASC 740</h5>
					<div class="divider"></div>
				</div><!-- end service -->

				<!-- Begin Service -->
				<div class="four columns omega service-item">
					<i class="fa fa-check-circle fa-4x"></i>
					<h5>Expatriate Tax</h5>
					<div class="divider"></div>
				</div><!-- end service -->

				<!-- Begin Service -->
				<div class="four columns alpha service-item">
					<i class="fa fa-search fa-4x"></i>
					<h5>IRS and State Audits</h5>
					<div class="divider"></div>
				</div><!-- end service -->
				
				<!-- Begin Service -->
				<div class="four columns omega service-item">
					<i class="fa fa-arrows-h fa-4x"></i>
					<h5>Indirect Tax</h5>
					<div class="divider"></div>
				</div><!-- end service -->

			</div><!-- end row -->
		</div><!-- end column -->

	</div><!-- end container -->	
</section><!-- end services section-->